In [2]:
import pandas as pd
import numpy as np

In [ ]:
pd.DataFrame.append()

In [5]:
%ls

 Volume in drive E is HDD1TB_1
 Volume Serial Number is B855-F337

 Directory of E:\Thinkful\Intro_Pandas_files

08/24/2018  08:11 PM    <DIR>          .
08/24/2018  08:11 PM    <DIR>          ..
08/24/2018  08:11 PM    <DIR>          .ipynb_checkpoints
08/24/2018  08:08 PM               822 poem.txt
08/24/2018  08:08 PM               189 purchases.csv
08/24/2018  08:08 PM               639 purchases.json
08/24/2018  08:08 PM             1,459 purchases.xml
08/24/2018  08:11 PM                72 Untitled.ipynb
               5 File(s)          3,181 bytes
               3 Dir(s)  992,727,429,120 bytes free

In [6]:
pur = pd.read_csv('purchases.csv')

In [7]:
pur.head()

  Unnamed: 0 country  ad_views  items_purchased
0     George      US        16                2
1       John     CAN        42                1
2     Thomas     CAN        32                0
3      James      US        13                8
4     Andrew     CAN        63                0

In [10]:
pur.head().to_csv('pur_head.csv')

In [11]:
%ls

 Volume in drive E is HDD1TB_1
 Volume Serial Number is B855-F337

 Directory of E:\Thinkful\Intro_Pandas_files

08/24/2018  08:14 PM    <DIR>          .
08/24/2018  08:14 PM    <DIR>          ..
08/24/2018  08:11 PM    <DIR>          .ipynb_checkpoints
08/24/2018  08:08 PM               822 poem.txt
08/24/2018  08:14 PM               136 pur_head.csv
08/24/2018  08:08 PM               189 purchases.csv
08/24/2018  08:08 PM               639 purchases.json
08/24/2018  08:08 PM             1,459 purchases.xml
08/24/2018  08:13 PM             5,354 Untitled.ipynb
               6 File(s)          8,599 bytes
               3 Dir(s)  992,727,420,928 bytes free

In [12]:
pur2 = pd.read_json('purchases.json')

In [13]:
pur2

  Unnamed: 0 country  ad_views  items_purchased
0     George      US        16                2
1       John     CAN        42                1
2     Thomas     CAN        32                0
3      James      US        13                8
4     Andrew     CAN        63                0
5     Martin      US        19                5
6    William      US        65                7
7    Zachary      US        23                3
8    Millard     CAN        16                0
9   Franklin      US        77                5

In [14]:
import xml.etree.ElementTree as ET

In [15]:
tree = ET.parse('purchases.xml')

In [16]:
tree.getroot()

In [17]:
print(tree.getroot())

<Element 'root' at 0x000001305D07B5E8>

In [18]:
root = tree.getroot()

In [19]:
def xml_to_list(rt):
    result = []
    for row in rt:
        row_list = []
        for column in row:
            row_list.append(column.text)
        result.append(row_list)
    return result

In [20]:
pur3 = pd.DataFrame(xml_to_list(root))
print(pur3)

          0    1   2  3
0    George   US  16  2
1      John  CAN  42  1
2    Thomas  CAN  32  0
3     James   US  13  8
4    Andrew  CAN  63  0
5    Martin   US  19  5
6   William   US  65  7
7   Zachary   US  23  3
8   Millard  CAN  16  0
9  Franklin   US  77  5

In [24]:
with open('poem.txt') as poem_file:
    text = poem_file.readlines()
    print("this file is {} lines long.\n".format(len(text)))
    for line in text:
        print(line)

this file is 19 lines long.

Beautiful is better than ugly.

Explicit is better than implicit.

Simple is better than complex.

Complex is better than complicated.

Flat is better than nested.

Sparse is better than dense.

Readability counts.

Special cases aren't special enough to break the rules.

Although practicality beats purity.

Errors should never pass silently.

Unless explicitly silenced.

In the face of ambiguity, refuse the temptation to guess.

There should be one-- and preferably only one --obvious way to do it.

Although that way may not be obvious at first unless you're Dutch.

Now is better than never.

Although never is often better than *right* now.

If the implementation is hard to explain, it's a bad idea.

If the implementation is easy to explain, it may be a good idea.

Namespaces are one honking great idea -- let's do more of those!